

<%-include("../partials/head")%>
<body>
    <div class="container">    

        <div class="container">
            <div class="row">
            <div class="col">
                <a href="/"> Home </a>
            </div>
            <div class="col">
                <a href="/search"> Find a vendor </a>
            </div>
            <div class="col">
                <a href="/registration"> Registration </a>
            </div>
            </div>
        </div>

    </div>
</body>